<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oj.oj_codesandbox.mapper.UserCommitMapper">

    <resultMap id="BaseResultMap" type="oj.oj_codesandbox.model.dto.UserCommit">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="qid" column="qid" jdbcType="VARCHAR"/>
        <result property="commitId" column="commit_id" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="LONGVARCHAR"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,qid,
        commit_id,code,language,
        create_time,modify_time
    </sql>

    <insert id="insert" parameterType="oj.oj_codesandbox.model.dto.UserCommit">
        insert into user_commit (uid, qid, commitId,
                                 code, language
                                 )
        values (#{uid},#{qid},#{commitId},
                   #{code},#{language}
               )
    </insert>
</mapper>
